In [2]:
from Bio import Entrez
import pandas as pd

In [16]:
with open ("pmid.txt") as f:
    pmids=f.read()

In [17]:
print(pmids)

29900339
29897644
21990379
19304878

In [19]:
for i in pmids.splitlines():
    print (i)

29900339
29897644
21990379
19304878

In [9]:
Entrez.email = "Your.Name.Here@example.org"

In [23]:
test=[]
for i in pmids.splitlines():
    test.append(Entrez.read(Entrez.elink(dbfrom="pubmed", id=i, linkname="pubmed_pmc")))

In [24]:
print(test)

[[{'ERROR': [], 'LinkSetDb': [], 'LinkSetDbHistory': [], 'DbFrom': 'pubmed', 'IdList': ['29900339']}], [{'ERROR': [], 'LinkSetDb': [], 'LinkSetDbHistory': [], 'DbFrom': 'pubmed', 'IdList': ['29897644']}], [{'ERROR': [], 'LinkSetDb': [{'Link': [{'Id': '3266030'}], 'DbTo': 'pmc', 'LinkName': 'pubmed_pmc'}], 'LinkSetDbHistory': [], 'DbFrom': 'pubmed', 'IdList': ['21990379']}], [{'ERROR': [], 'LinkSetDb': [{'Link': [{'Id': '2682512'}], 'DbTo': 'pmc', 'LinkName': 'pubmed_pmc'}], 'LinkSetDbHistory': [], 'DbFrom': 'pubmed', 'IdList': ['19304878']}]]

In [26]:
testa=[]
for i in range(0,len(test)):
    for j in test[i]:
        if (len(j["LinkSetDb"]))==0:
            testa.append([j["IdList"][0],"NA"])
        if (len(j["LinkSetDb"]))==1:
           testa.append ([j["IdList"][0],j["LinkSetDb"][0]["Link"][0]["Id"]])

In [27]:
print(testa)

[['29900339', 'NA'], ['29897644', 'NA'], ['21990379', '3266030'], ['19304878', '2682512']]

In [28]:
pd.DataFrame(testa, columns=["PMID","PMCID"])

       PMID    PMCID
0  29900339       NA
1  29897644       NA
2  21990379  3266030
3  19304878  2682512